<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/script.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
     <ul class="nav">
        <li>
          <i class="fa fa-home"></i>
          <div class="side bar">Home</div>
        </li>
        <li>
          <i class="fa fa-align-right"></i>
          <div class="side bar">About</div>
        </li>
        <li>
          <i class="fa fa-phone"></i>
          <div class="side bar">Contact</div>
        </li>
      </ul>
      
      <div class="file-selection">  
      <div class="custom-file">
        <input type="file" id="selectFile" multiple value="Upload DataSet" max-file="5" max-data-size="5">
    </div>
      </div>
      
      
</body>
