 @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

body {
  background: #f2f2f2;
}
body,
* {
  padding: 0;
  margin: 0;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #292929;
  display: inline-block;
  height: 100vh;
  position: absolute;
}
.nav li {
  cursor: pointer;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  margin-bottom: -1px;
  width: 80px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
}
.nav li div,
.nav li i {
  position: absolute;
  text-align: center;
  animation-duration: 0.34s;
}
.nav li div {
  margin-left: 80px;
  text-align: center;
  width: 160px;
}
.nav li i {
  line-height: 60px;
  width: 80px;
  z-index: 9;
  background: #292929;
}
.nav li div {
/*  display: none; */
   z-index: 1;
  background: #6c45ec;
  transform: translateX(-160px);
  -webkit-transform: translateX(-160px);
  -moz-transform: translateX(-160px);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.nav li:hover > div {
  display: inline-block;
  transform: translateX(0);
}
.nav li:hover i {
  background: #6c45ec;
}

 .file-selection {
  height: 50vh;
  text-align: center;
  padding-top: 22%;
  font-family: "Roboto Slab", serif;
  font-size: 28px;
} 

 ul, ol, li{
     padding: 0;
     margin: 0;
     list-style: none;
 }
 
 .custom-file{
     text-align: center;
 }
 
 .custom-file .txtMsg{
     font-size: 14px;
     font-weight: 500;
     text-align: center;
     color: #8bc34a;
     margin: 8px 0px 0px;
 }
 
 .custom-file #selectFile{
     display: none;
 }
 .custom-file .selectFile{
     display: inline-flex;
     align-items: center;
     font-size: 20px;
     font-weight: 600;
     color: #fff;
     background: #6c45ec;
     padding: 16px 50px 16px;
     border-radius: 100px;
     cursor: pointer;
     text-transform: uppercase;
    
 }
 .custom-file .selectFile .icon{
     display: inline-block;
     width: 22px;
     height: 22px;
     background: #fff;
     margin-right: 5px;
     border-radius: 100%;
     position: relative;
     transition: all 0.3s ease-in-out;
 }
 
 .custom-file .selectFile:hover .icon{
     transform: rotate(180deg);
 }
 
 .custom-file .selectFile .icon::after,
 .custom-file .selectFile .icon::before{
     content: "";
     position: absolute;
     top: 1px;
     right: 1px;
     left: 1px;
     bottom: 1px;
     margin: auto;
     background: #6c45ec;
 }
 .custom-file .selectFile .icon::after{
     width: calc(100% - 8px);
     height: 2px;
 }
 .custom-file .selectFile .icon::before{
     height: calc(100% - 8px);
     width: 2px;
 }
 .clr-red{
     display: inline-block;
     color: red;
 }
 
 .custom-file ul.file-list{
     margin-top: 10px;
     max-width: 60%;
     padding: 8px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 8px;
     background: rgba(255, 255, 255, .9);
 }
 
 .custom-file ul.file-list li{
     font-size: 14px;
     font-weight: 500;
     padding: 5px;
     display: flex;
     justify-content: space-between;
 }

